@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

:root{

    /* PALETA DE CORES */
    --fundo-principal: #e2e2e2;
    --texto: #223033;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #43e3ff;
    --fundo-card: #ffffff;

    /* FONTES */
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-rubik: "Rubik", sans-serif;

}

body{
    font-family: var(--font-rubik);
    line-height: 1.5em;
    background-color: var(--fundo-principal);
}

strong{
    color: var(--destaque);
}

/* ------------------------------ HEADER ------------------------------ */
header{
    background-color: var(--destaque);
    color: var(--texto);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 5px black;
    position: sticky;
    top: 0;
    z-index: 1;
}

header > nav#menu ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

span.material-icons{
    font-size: 1.8em;
    transition: transform 0.3s ease;
}

span.material-icons:hover{
    transform: translateY(-4px); 
}

header > nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    transition: color 0.2s ease;
    text-shadow: 1px 1px 1px var(--texto);
}

header > nav#menu a:hover{
    color: #fffd70;
}

header > nav#menu a:active{
    color: var(--destaque-inverso);
}

/* ------------------------------- MAIN ------------------------------- */
main{
    display: grid;
    grid-template-columns: auto 85vw auto;
    gap: 2rem;
    margin-top: 1rem;
}

/* -------------------- SECTION 1: HOME -------------------- */
section#home{
    background-color: var(--fundo-card);
    padding: 10px;
    display: block;
    border-radius: 10px;
    grid-column: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.514);
}

img#foto-perfil{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: 1.5rem auto;
    transition: transform 0.4s ease;
}

img#foto-perfil:hover{
    outline: 5px solid rgb(255, 73, 49);
    transform: scale(1.05);
}

section#home > h1{
    margin-top: 1.5rem;
    text-align: center;
    color: var(--destaque);
    text-shadow: 1px 1px 1px black;
}

section#home > p{
    text-align: justify;
    font-size: 1.1em;
    padding: 1rem;
    text-indent: 1.5rem;
}

section#home > div#redes-sociais{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0.5rem;
    gap: 1.5rem;
}

img.icones-sociais{
    width: 32px;
    transition: transform 0.3s;
}

img.icones-sociais:hover{
    transform: scale(1.1);
}

/* ------------------------------ SECTION 2: DETALHES ------------------------------ */
section#detalhes{
    grid-column: 2;
}

article{
    background-color: var(--fundo-card);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

article > h2{
    color: var(--destaque);
    margin-bottom: 1rem;
}

/* |||||||||||||||||||||||||||||||||| SKILLS |||||||||||||||||||||||||||||||||| */
#skill-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill-container .nome{
    font-weight: 800;
    color: var(--texto);
}

#skill-container .porcento{
    font-weight: bold;
    color: var(--destaque);
}

#skill-container .barra{
    width: 100%;
    height: 8px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.507);
}

#skill-container .progresso{
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 4px;
    box-shadow: inset 0 0 6px;
}

/* |||||||||||||||||||||||||||||||||| FORMAÇÃO |||||||||||||||||||||||||||||||||| */
#formacao-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#formacao-container .curso{
    background-color: var(--fundo-principal);
    border-radius: 10px;
    border-left: 5px solid var(--destaque-inverso);
    padding: 0.5rem 1rem;
    transition: border-left-width 0.3s ease, border-color 0.3s ease;
}

#formacao-container .curso:hover{border-left-width: 10px; border-color: var(--destaque); cursor: pointer;}

#formacao-container .periodo{
    font-size: 0.8em;
    font-weight: bold;
    color: var(--texto)
}

#formacao-container .instituicao{
    color: var(--destaque);
    font-size: 1.1em;

}

/* |||||||||||||||||||||||||||||||||| PROJETOS |||||||||||||||||||||||||||||||||| */
#projeto-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#projeto-container .projeto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    background-color: var(--fundo-principal);
    transition: border-left-width 0.3s ease;
}

#projeto-container .projeto:hover{border-left-width: 8px; border-color: var(--destaque); cursor: pointer}

#projeto-container .foto{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.514);
}

#projeto-container .projeto-info > h3{
    color: var(--destaque)
}

#projeto-container details.descricao > summary{
    font-weight: bold;
    color: red;
}

#projeto-container details.descricao > p{
    text-align: justify;
    padding: 0.1rem;
}

/* ------------------------------- FOOTER ------------------------------- */
footer{
    background-color: var(--destaque);
    color: var(--texto-inverso);
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.527);
}

footer a{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover{
    color: var(--destaque-inverso);
}

footer a:active{
    color: red;
}

